{% extends 'base.html' %}
{% block content %}

<section class="home-section1">
    <div>
        <h1 class="text-center project-title">FairPlay</h1>
        <h2 id="section-h3" class="text-center px-4">
            <em>An engaging task sharing partnership tool that brings you closer together.</em>
        </h2>
        <div id="home-section1" class="pb-2">
            <p class="lead">Women still shoulder a disproportionate amount of the housework: the “Invisible Load”,
                especially mothers,
                who often have even less time and emotional bandwidth to deal with this burden.</p>
            <p class="lead"><strong>FairPlay is here to help alleviate</strong>
                the chores, levitate above them and elevate your relationship with your partner to a new emotional level.
            </p><br>
            <p class="lead">FairPlay is designed as a “partnership tool” rather than a “management tool”. Together with your
                partner, you
                both manage and help each other tackle everyday housework</p>
        </div>
    </div>
</section>

<section class="my-2">
    <div class="py-4">
        <h3 class="text-center" id="home-section3">Share and Set Your Goals</h3>
    </div>

    <div class="row container-fluid justify-content-center my-4 pb-4">
        <div class="card card-1" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Personalise Tasks and Names</h5>
                <p class="card-text">Make FairPlay personal to you and your family by adding in family member names and customising your to-do list.</p>
                <a href="{% url 'household' %}" class="card-link">Household</a>
                <a href="{% url 'family:family' %}" class="card-link">Family</a>
            </div>
        </div>

        <div class="card card-2" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Priority Tasks</h5>
                <p class="card-text">Quickly find your most urgent tasks by viewing anything marked as a priority by yourself or your partner.</p>
                <a href="#" class="card-link">View my Priority tasks</a>
            </div>
        </div>

        <div class="card card-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">What's Due Next?</h5>
                <p class="card-text">FairPlay lets you see when household tasks and chores need to be completed by. This makes it easier for you to plan your day.</p>
                <a href="#" class="card-link">View my tasks by due date</a>
            </div>
        </div>

        <div class="card card-4" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Meet the team behind FairPlay</h5>
                <p class="card-text">When it comes to household responsibilities, the partner taking on the maternal role in the household, most commonly women, perform far more cognitive and emotional labour than their partner. This is how FairPlay came into being.</p>
                <a href="{% url 'team:team' %}" class="card-link">Team</a>
            </div>
        </div>


    </div>

</section>

<section class="home-section3 pt-4 align-items-center d-flex flex-column">

        <div class="text-center">
            <h3 class="mb-4" id="home-section3"><strong>Visualise your goals and reap the rewards!</strong></h3>
        </div>

        <div class="chart container m-1 mt-4">
            <div class="m-2">
                <h5 class="card-title">Our Goals</h5>
                <h6 class="card-subtitle mb-2 text-muted">Reward: Dinner at the Royal Oak</h6>
            </div>
            <hr>

            <div class="row m-3">
                <div class="col"><img id="piechart" src="./static/images/pie-chart.png" alt="goal piechart"></div>

                <div class="col align-self-center">
                    <h4 id="countdown" class="">
                        <stong>Reward In: 3 days 8 hours</stong>
                    </h4>
                    <ul>
                        <li class="name-1">Farrah</li>
                        <li class="name-2">Freddie</li>
                    </ul>
                </div>
            </div>
        </div>
</section>

{% endblock content %}