{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="color-bg">

        <h1 class="project-title text-center">Family</h1>

        <div class="container mt-4 pt-4">

            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Add child
            </button>


        
            {% if not context.queryset %}
                <h4 class="mt-4 py-4">No family members have been added yet.</h4>
            {% else %}
                {#tabs#}
                {% include 'family/services/tabs.html' %}

                {#content inside tabs#}
                {% include 'family/services/tabs-content.html' %}

            {% endif %}
        </div>


        {% include 'family/services/modal.html' %}

    </div>

{% endblock %}