{% load static %}

{% url "account_login" as login_url %}
{% url "account_signup" as signup_url %}
{% url "account_logout" as logout_url %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FairPlay</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>

    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>

<body class="container-fluid p-0">
    <div class="wrapper">

        <header>
            <div>
                <nav class="navbar navbar-expand-md">
                    <div class="container-fluid">
                        <a class="navbar-brand" href={% url 'home:home' %}>
                            <img src="{% static 'images/houselogo_white2.png' %}" alt="">
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="{% url 'home:home' %}">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'household' %}">Household</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'family:family' %}">Family</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'team:team' %}">Team</a>
                                </li>
                                {% if user.is_authenticated %}
                                    <li class="nav-item">
                                        <a class="nav-link"
                                        href="{% url 'account_logout' %}">Sign Out</a>
                                    </li>
                                {% else %}
                                <li class="nav-item">
                                    <a class="nav-link"
                                    href="{% url 'account_login' %}">Sign In</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        <main class="">
            {% block content %}
            {#    content goes here#}
            {% endblock %}
        </main>
</div>

<footer>
    <hr>
    <div class="row justify-content-between">
        <div class="footer-col col-4">
            <p><em>In a busy and overwhelming world, let's play fair!</em></p>
            <p><em>It always seems impossible before it’s done.</em></p>
        </div>

        <div class="footer-col col-4 d-flex justify-content-center">
            <p>Copyright © 2024 FairPlay</p>
        </div>

        <div class="footer-col d-flex flex-column col-4 align-items-end">
            <p>Created by TechTonicTitans</p>
            <a href="https://cloud.google.com/">Google Cloud</a>
            <a href="https://www.trustinsoda.com/">Soda Social</a>
            <a href="https://codeinstitute.net/">Code Institute</a>
         </div>
    
        
    </div>

</footer>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
</script>

</body>

</html>