{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}

<div class="container-fluid household-wrapper d-flex justify-content-center flex-column align-items-center pb-4">
  <h1>Household</h1>
  <p class="lead">Use the sections here to delegate everyday tasks, but also to get support with some bigger picture or "invisible" tasks.</p>
  <p class="lead">Get your partner to head to the Food section and write down some of their favourite meals, making the weekly food shop much easier!</p>

  <ul class="nav flex-column justify-content-center">
    <li class="nav-item m-2">
      <a class="nav-link household-link" href="{% url 'food' %}">Food</a>
    </li>
    <li class="nav-item m-2">
      <a class="nav-link household-link" href="{% url 'laundry' %}">Laundry</a>
    </li>
    <li class="nav-item m-2">
      <a class="nav-link household-link" href="{% url 'kitchen' %}">Kitchen</a>
    </li>
    <li class="nav-item m-2">
      <a class="nav-link household-link" href="{% url 'bins' %}">Bins</a>
    </li>
    <li class="nav-item m-2">
      <a class="nav-link household-link" href="{% url 'general' %}">General</a>
    </li>
  </ul>

</div>

{% else %}
You are not able to do this. Please <a href="{% url 'account_login' %}">Login</a>


{% endif %}

{% endblock %}